
/*shop START*/
.shop-container {
    box-sizing: border-box;
}

.shop-product-container {
    display: flex;
    flex-wrap: wrap;
}


.shop-nonfound p {
    text-align: center;
    font-size: 7.5rem;
}
/*shop END*/
